* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Tahoma;
}

main .product_section {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .product_section img {
  margin-right: 75px;
}

main .product_section_info {
  width: 550px;
}

main .product_section_info_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .product_section_info_description {
  font-style: 18px;
}

main .product_section_info_price {
  font-size: 48px;
  color: #313131;
  margin: 48px 0;
}

main .product_section_info_buy_btn {
  margin-right: 40px;
  margin-left: 5px;
}

main .product_section_info_dop_inf_btn {
  margin-left: 5px;
  margin-right: 5px;
}

main .description_section {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.section_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_elements_item {
  text-align: center;
  width: 260px;
  margin: 10px;
}

.section_elements_item span {
  display: block;
  height: 50px;
  background-image: url("../img/description_iconset.png");
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-bottom: 15px;
}

.section_elements_item:nth-child(1) span {
  background-position: center 0;
}

.section_elements_item:nth-child(2) span {
  background-position: center -58px;
}

.section_elements_item:nth-child(3) span {
  background-position: center -118px;
}

.section_elements_item:nth-child(4) span {
  background-position: center -166px;
}

h1 {
  font-size: 48px;
  margin-bottom: 0;
}

h2 {
  margin-top: 7px;
  padding-left: 1px;
  font-size: 30px;
  font-weight: normal;
}

.main_btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  background-color: #f15921;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 15px 0;
}

.alt_btn {
  color: #f15921;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  background-color: #fff;
  border: 2px solid #f15921;
  padding: 18px 40px;
  border-radius: 5px;
  margin: 0;
  white-space: nowrap;
  margin: 15px 0;
}

.feedback_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback_section img {
  width: 260px;
}
/*# sourceMappingURL=style.css.map */